html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

:root {
    --roboto: 'Roboto', sans-serif;
    --bangers: 'Bangers', cursive;
    --filtreBackground: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
    /* COLORS (British palette) https://flatuicolors.com/palette/gb */
    --blue: #0097e6;
    --green: #44bd32;
    --red: #c23616;
    --black: #2f3640;
    --marineBlue: #192a56;
}


@media screen and (max-width: 800px) {
    main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--marineBlue), var(--black));
    }

    .boutonBurger {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        /* border: 1px solid #fff; */
    }

    .span1 {
        position: absolute;
        top: 8px;
        background-color: #fff;
        width: 100%;
        height: 4px;
    }

    .span2 {
        position: absolute;
        top: 18px;
        background-color: #fff;
        width: 100%;
        height: 4px;
    }

    .span3 {
        position: absolute;
        top: 28px;
        background-color: #fff;
        width: 100%;
        height: 4px;
    }

    #accueil {
        height: 99vh;
        width: 95%;
        /* border: 1px solid #fff; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }

    .titre {
        /* border: 1px solid #fff; */
        width: 95%;
        height: 200px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--bangers);
        font-size: 2.3em;
        letter-spacing: 1px;
    }

    .separation {
        background-color: #fff;
        width: 50%;
        height: 3px;
    }

    .boutons {
        width: 99%;
        height: 80px;
        /* border: 1px solid #fff; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boutons>a {
        width: 90%;
        height: 90%;
        background-color: var(--blue);
        /* border: 1px solid #fff; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        font-size: 2em;
    }

    .presentation {
        border: 1px solid #fff;
        background-color: #fff;
        width: 90%;
        height: 160px;
    }

}
